#python
__pycache__/
*.pyc
.python-version

# dist
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
tilibit/autocomplete/

# editor & testing
.vscode/
.mypy_cache/
test/**
.coverage
.DS_Store
profile_data/**
